*{
	font-family: sans-serif;
	line-height: 1.618em;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	}

html{
	font-size: 16px;

	margin-top: 3em;
}

h1,h2,h3{
	color: #666;

}

header,
main,
footer{
	margin: 0 auto;
	max-width: 800px;
}

header{
	padding: 2em 0;
}

header h1{
	font-size: 3em:;
}

header span{
	font-size: 1.5em;
	color: Red;
}

	nav{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;

		display: flex;
		flex-flow: row;
		justify-content: center;

		background: #333;


	}

	nav a{
		padding: .5em .2em;
		text-decoration: none;
		color: #fff;

	}

	nav a:hover{
		background: #666;

	}

	section{
		margin: 1em 0;

		padding-top: 3em;
		min-height: 20em;
	}

	section > p {
		margin: 1em 0; 
	}
section ul{
	margin: 1em 0;
}
section > img{
	width:20%;
    float: left;
    border: 1px solid #333;

}

#projects article img{
	width: 100%;
	border: 1px solid #333;

}

}

	footer{
		margin-top: 2em;
		margin-bottom: 1em;
		background: #666;
		color: #fff;
		padding: 1em 0;
		text-align: center;
	}